* {
    font-family: Helvetica;
    font-size: 14px;
    line-height: 15px;
}

body {
    height: 100%;
    overflow: hidden;
}

.hidden {
    display: none;
}

#pronounce {
    width: 400px;
    margin: 150px auto;
    height: 200px;
    border: 1px solid gray;
}

#pronounce > div {
    padding: 10px;
}

#pronounce > div > span:first-child {
    display: block;
    float: left;
    width: 160px;
}

#pronounce > div:last-child > span:first-child {
    display: block;
    float: none;
    text-align: center;
    width: 100%;
    margin-bottom: 4px;
}

#result {
    font-size: 24px;
    line-height: 26px;
}
